<!DOCTYPE html>
<html>
    <head>
        <title>index</title>
        <meta charset="utf=8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="icon" href="<%= BASE_URL %>icon/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="<%= BASE_URL %>styles/variables.css" type="text/css">
        <link rel="stylesheet" href="<%= BASE_URL %>styles/font.css" type="text/css">
        <link rel="stylesheet" href="<%= BASE_URL %>styles/reset.css" type="text/css">
        <title>Fruits</title>



         <style>
    .fruit {
      position: fixed;
      font-size: 15px;
      opacity: 1;
      transition: opacity 2s ease;
     user-select: none; /* 과일 요소를 드래그할 수 없도록 설정 */
      pointer-events: none; /* 과일 요소에 마우스 이벤트를 적용하지 않도록 설정 */
   }
  </style>
  <script type="text/javascript">
    // <![CDATA[
    var fruits = ['🍏', '🍎', '🍐', '🍊', '🍋', '🍌', '🍉', '🍇', '🍓', '🫐', '🍈', '🍒', '🍑', '🥭'];
    var canCreateFruit = true;

    document.onmousemove = function(event) {
      if (!canCreateFruit) return;

      canCreateFruit = false;

      setTimeout(function() {
        canCreateFruit = true;
      }, 100);

      var x = event.clientX;
      var y = event.clientY;

      var fruit = document.createElement('div');
      fruit.className = 'fruit';
      fruit.innerHTML = fruits[Math.floor(Math.random() * fruits.length)];
      fruit.style.left = (x - 10) + 'px';
      fruit.style.top = (y - 10) + 'px';

      document.body.appendChild(fruit);

      setTimeout(function() {
        fruit.style.opacity = 0;
        setTimeout(function() {
          fruit.remove();
        }, 2000);
      }, 100);
    };
    // ]]>
  </script>
    </head>
<body>
   
     <div align="center" id="title"><a href="index.html">Mouse Effect</a></div>
    <div id="article" align="center">
 
  
    </div>


</body>
    </html>
