<!DOCTYPE html>
<html>
    <head>
    <title><%= htmlWebpackPlugin.options.title %></title>  
    
 <meta charset="utf-8">
     
   <link rel="stylesheet" href="<%= BASE_URL %>/test/style.css" type="text/css">
 
    <title>연습장</title>    </head>
<body>
    <audio src="bgm.mp3" controls="controls" autoplay="autoplay"></audio>
     <div align="center" id="title"><a href="index.html">연습장</a></div>
    <div id="article" align="center">
        새는 알에서 나오려고 싸운다<br>

알은  세계이다<br>

태어나려고 하는 자는 하나의 세계를 파괴해야만 한다<br>

그 새는 신을 향해 날아간다<br>

그 신의 이름은 개조은

 

<헤르만 헤세 - 데미안 中>
    </div>


</body>
    </html>
