@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');


#title {
    
    font-size: 30px;
}
 
body{
    font-family: "Hi Melody", sans-serif;
    font-style: normal;
    transition: background-color 0.5s ease, color 0.5s ease;
     
     
    justify-content: center;
    align-items: center;
    
    margin: 0;  }

a {
    color:black;
  font-size: 30px;
    text-decoration: none;
}
.code{
    
    font-family:'Courier New', Courier, monospace;
} 
.toggle-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
#header{
    padding:20px;
}

.button {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: "Hi Melody", sans-serif;
  }

  .code{
    padding:40px;
    margin:100px;
    background-color: #ccc;
  }